.App {
    text-align: center;
    background-color: #666666;
    color: white;
    margin-top: 10vh;
    /* font-size: 24px; */
    display: flex;
    justify-content: center;
}

.table-container-wrapper {
    overflow-x: auto;
}

.table-container {
    border: 5px solid orange;
    border-collapse: collapse;
    width: max-content;
    white-space: nowrap;
    margin: 0 auto;
}

.table-container th,
.table-container td {
    padding: 8px;
}

th:first-child,
td:first-child {
    padding-left: 20px;
}

th:last-child,
td:last-child {
    padding-right: 20px;
}

tr {
    border-bottom: 1px solid rgb(247, 242, 242);
}

thead th {
    position: sticky;
    top: 0;
    background-color: #666666;
}

.table-container th input[type="checkbox"],
.table-container td input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  background-color: #666666;
  margin-right: 5px;
  position: relative;
  border-radius: 3px;
}

.table-container th input[type="checkbox"]::before,
.table-container td input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 16.5px;
  height: 16.5px;
  background-color: #ffffff;
  bottom: 0.1px;
  right: 0.2px;
  border-radius: 2px;
  display: none;
}

.table-container th input[type="checkbox"]:checked::before,
.table-container td input[type="checkbox"]:checked::before {
  display: block;
}


tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {

    .table-container th,
    .table-container td {
        padding: 4px;
        font-size: 12px;
    }
}